In [1]:
# Step 1 import the libraries
import pandas as pd

In [2]:
# Step 2 Import the dataset
# Step 3 Assign it to a variable called chipo.

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

In [3]:
# Step 4 see the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
# Step 5 What is the number of observations in the dataset?
chipo.shape[0]  # returns the number of rows

4622

In [5]:
# Step 6 What is the number of columns in the dataset?
chipo.shape[1]  # returns the number of columns

5

In [6]:
# Step 6 print all the columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
# Step 8 how is the dataset indexed
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
# Step 9  Which was the most-ordered item?
most_ordered_item = chipo.groupby('item_name').sum().sort_values('quantity', ascending=False).index[0]
most_ordered_item

'Chicken Bowl'

In [9]:
# Step 10 For the most-ordered item, how many items were ordered?
chipo.groupby('item_name').sum().loc[most_ordered_item, 'quantity']

761

In [10]:
# Step 11 What was the most ordered item in the choice_description column?
most_ordered_description = chipo.groupby('choice_description').sum().sort_values('quantity', ascending=False).index[0]
most_ordered_description

'[Diet Coke]'

In [11]:
# Step 12 How many items were ordered in total?
total_items_ordered = chipo['quantity'].sum()
total_items_ordered

4972

In [12]:
# Step 13 Turn the item price into a float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

In [13]:
# Step 14 How much was the revenue for the period in the dataset?
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

In [14]:
# Step 15 How many orders were made in the period?
num_orders = chipo['order_id'].nunique()
num_orders

1834

In [15]:
# Step 16 What is the average revenue amount per order?

avg_revenue_per_order = revenue / num_orders
avg_revenue_per_order

21.39423118865867

In [16]:
# Step 17 How many different items are sold?
num_items_sold = chipo['item_name'].nunique()
num_items_sold

50