In [1]:
# Step 1 Import libraries
import pandas as pd
import numpy as np

In [2]:
# Step 2 Create 3 differents Series, each of length 100

# First Series
s1 = pd.Series(np.random.randint(1, 5, size=100))

# Second Series
s2 = pd.Series(np.random.randint(1, 4, size=100))

# Third Series
s3 = pd.Series(np.random.randint(10000, 30001, size=100))

In [3]:
# Step 3 Create a DataFrame by joinning the Series by column
df = pd.concat([s1, s2, s3], axis=1)

In [4]:
# Step 4 Change the name of the columns to bedrs, bathrs, price_sqr_meter
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

In [5]:
# Step 5 Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
bigcolumn = pd.concat([s1, s2, s3], axis=0)
bigcolumn = bigcolumn.to_frame()

In [7]:
# Step 6 Ops it seems it is going only until index 99. Is it true?

# Yes, it is true
print(bigcolumn.index.max())

99

In [8]:
# Step 7 Reindex the DataFrame so it goes from 0 to 299 
# Reindexing the DataFrame
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn.index = pd.RangeIndex(start=0, stop=300, step=1)

In [9]:
bigcolumn

         0
0        2
1        2
2        1
3        2
4        2
..     ...
295  18970
296  13429
297  19316
298  28924
299  21398

[300 rows x 1 columns]